@model EnterNewPasswordViewModel
@{
    ViewData["Title"] = "EnterNewPassword";
}

@section Header {
<title>[shope name] | رمز جدید</title>
<meta name="description"
    content="رمز جدید خود را وارد کنید و آن را به یاد داشته باشید" />
}

@section Nav {
<partial name="_NavbarShadow" />
}
<div class="u-s-p-y-60">
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">خانه</a>
                        </li>
                        <li class="is-marked">

                            <a href="#">وارد کردن رمز جدید</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->


<!--====== Section 2 ======-->
<div class="u-s-p-b-60">
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">
                            <h1 class="gl-h1">رمز جدید</h1>

                            <span class="gl-text u-s-m-b-30">رمز جدید خود را وارد کنید و آن را به یاد داشته باشید</span>
                            <form class="l-f-o__form" method="POST" action="/Account/EnterNewPassword" asp-antiforgery="true">
                                <input type="hidden" value="@Model.UserId" asp-for="UserId" />
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="password">کلمه ی عبور</label>

                                    <input class="input-text input-text--primary-style"
                                    asp-for="Password" type="password" id="password"
                                        required placeholder="کلمه ی عبور">
                                        <span asp-validation-for="Password"></span>
                                </div>
                                <div class="u-s-m-b-30">
                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">ارسال</button>
                                </div>
                                <div class="u-s-m-b-30">
                                    <a class="gl-link" href="/login">ورود به حساب کاربری</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
