@model ForgotPasswordViewModel
@section Header {
<title>[shope name] | فراموشی رمز عبور</title>
<meta name="description"
    content="رمز عیور خودتون رو فراموش کرده اید ؟ میتوانید از همینجا برای رمز عبور جدید اقدام کنید" />
}

@section Nav {
<partial name="_NavbarShadow" />
}
<div class="u-s-p-y-60">
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">خانه</a>
                        </li>
                        <li class="is-marked">

                            <a href="/Account/ForgotPassword">بازیابی کلمه ی عبور</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->


<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary">رمز عبور را فراموش کردی ؟</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->


    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">
                            <h1 class="gl-h1">رمز جدید</h1>

                            <span class="gl-text u-s-m-b-30">ایمیل حساب کاربری خود را وارد کنید . سپس از طریق ایمیلی که
                                به شما ارسال میشود میتوانید رمز جدید را وارد کنید</span>
                            <form class="l-f-o__form" method="POST" action="/Account/ForgotPassword" asp-antiforgery="true">
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reset-email">ایمیل *</label>

                                    <input class="input-text input-text--primary-style" type="email" id="reset-email"
                                    asp-for="Email"
                                        required placeholder="آدرس ایمیل">
                                        <span asp-validation-for="Email"></span>
                                </div>
                                <div class="u-s-m-b-30">

                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">ارسال</button>
                                </div>
                                <div class="u-s-m-b-30">

                                    <a class="gl-link" href="/login">ورود به حساب کاربری</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.Succes == true || ViewBag.Error == true)
{
@section Footer {
<script src="/js/sweetalert.min.js"></script>

@if(ViewBag.Succes == true)
{
<script>
    swal({
        title: "موفق",
        text: "ایمیلی به حساب شما فرستاده شد",
        icon: "success",
        button: "باشه",
    });
</script>
} else {

<script>
    swal({
        title: "مشکلی پیش آمده",
        text: "کاربری یافت نشد",
        icon: "error",
        button: "باشه",
    });
</script>
}

}
}