@model AccountViewModel
@section Header {
<title>[shope name] - ویرایش خساب کاربری</title>
}
@section Nav {
<partial name="_NavbarShadow" />
}
<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">
                            <a href="/">خانه</a>
                        </li>
                        <li class="is-marked">

                            <a href="/Account">حساب کاربری</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->


<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <!--====== Dashboard Features ======-->
                        <partial name="_List" />
                        <partial name="_History" />
                        <!--====== End - Dashboard Features ======-->
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14">مدیریت حساب</h1>

                                <span class="dash__text u-s-m-b-30">شما می توانید در صورت نیاز اطلاعات خودتون رو ویرایش
                                    کنید</span>
                                <div class="row">
                                    <div class="col-lg-12 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">اطلاعات شما</h2>
                                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                                    <a href="dash-edit-profile.html">ویرایش</a>
                                                </div>

                                                <span class="dash__text">@Model.UserName</span>

                                                <span class="dash__text">@Model.Email</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->