@model List<GetOrderViewModel>
@section Header {
<title>[shope name] - سفارشات</title>
}
<div class="u-s-p-y-60">
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">
                            <a href="index.html">خانه</a>
                        </li>
                        <li class="has-separator">
                            <a href="/Account">حساب کاربری</a>
                        </li>
                        <li class="is-marked">
                            <a href="/account/order">سفارشات</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-s-p-b-60">
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <partial name="_List" />
                        <partial name="_History" />
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14">خرید های من</h1>

                                <span class="dash__text u-s-m-b-30">در اینجا شما میتوانید تمامی سفارشات خود را بررسی
                                    کنید</span>

                                @if (Model != null && Model.Count > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <div class="m-order__list u-s-m-b-20">
                                            <div class="m-order__get">
                                                <div>
                                                    <div class="dash-l-r">
                                                        <div>
                                                            <div class="manage-o__text-2 u-c-secondary">تاریخ ایجاد :‌ @item.CreateDate
                                                            </div>
                                                            <div class="manage-o__text u-c-silver u-s-m-t-15">جمع قیمت : @item.price
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="dash__link dash__link--brand">

                                                                <a href="/Account/Order/Details/@item.Id">مدیریت</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="alert-error">شما تا به حال سفارشی نداشته اید</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->