@model ResetPasswordViewModel
@section Header {
<title>[shope name] - تغییر رمز عبور</title>
<meta name="description" content="شما میتوانید از طریق این صفه در صورت نیازتان رمز عبور خود را تغییر دهید">
}
@section Nav {
<partial name="_NavbarShadow" />
}
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">خانه</a>
                        </li>
                        <li class="has-separator">

                            <a href="/account">حساب کاربری</a>
                        </li>
                        <li class="is-marked">

                            <a href="/account/ResetPassword">تغییر رمز عبور</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->


<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">

                        <!--====== Dashboard Features ======-->
                        <partial name="_List" />
                        <partial name="_History" />
                        <!--====== End - Dashboard Features ======-->
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14">تعییر رمز عبور</h1>

                                <span class="dash__text u-s-m-b-30">پس از تغییر رمز عبور باید مجدد وارد حساب شوید</span>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="dash-edit-p" method="POST" asp-antiforgery="true"
                                            action="/Account/ResetPassword">
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="CurrectPassword">رمز عبور فعلی</label>

                                                    <input class="input-text input-text--primary-style" type="password"
                                                        id="CurrectPassword" asp-for="CurrectPassword"
                                                        placeholder="رمز عبور فعلی" required>
                                                    <span asp-validation-for="CurrectPassword"></span>
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="newpassword">رمز عبور جدید</label>

                                                    <input class="input-text input-text--primary-style" type="password"
                                                        required id="newpassword" asp-for="NewPassword"
                                                        placeholder="رمز عبور جدید">
                                                    <span asp-validation-for="NewPassword"></span>
                                                </div>
                                            </div>
                                            <button class="btn btn--e-brand-b-2" type="submit">ذخیره</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->
@if (ViewBag.Error != null)
{
    @section Footer {
<script src="/js/sweetalert.min.js"></script>
<script>
    swal({
        title: "مشکلی پیش آمده",
        text: "رمز عبور فعلی را اشتباه وارد کرده اید",
        icon: "error",
        button: "باشه",
    });
</script>
}
}