@{
    ViewData["Title"] = "Index";
}
@section Slider {
<!--====== Primary Slider ======-->
<div class="s-skeleton s-skeleton--h-640 s-skeleton--bg-grey">
    <div class="owl-carousel primary-style-3" id="hero-slider">
        <div class="hero-slide hero-slide--7">
            <div class="primary-style-3-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content slider-content--animation">
                                <span class="content-span-1 u-c-white">عنوان</span>

                                <span class="content-span-2 u-c-white">متن 2</span>

                                <span class="content-span-3 u-c-white">متن 3</span>

                                <span class="content-span-4 u-c-white">شروع از

                                    <span class="u-c-brand">100.000</span></span>

                                <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">همین حالا بخر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide hero-slide--8">
            <div class="primary-style-3-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content slider-content--animation">
                                <span class="content-span-1 u-c-white">عنوان</span>

                                <span class="content-span-2 u-c-white">متن 2</span>

                                <span class="content-span-3 u-c-white">متن 3</span>

                                <span class="content-span-4 u-c-white">شروع از

                                    <span class="u-c-brand">100.000</span></span>

                                <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">همین حالا بخر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide hero-slide--9">
            <div class="primary-style-3-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content slider-content--animation">
                                <span class="content-span-1 u-c-white">عنوان</span>

                                <span class="content-span-2 u-c-white">متن 2</span>

                                <span class="content-span-3 u-c-white">متن 3</span>

                                <span class="content-span-4 u-c-white">شروع از

                                    <span class="u-c-brand">100.000</span></span>

                                <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">همین حالا بخر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Nav {
<partial name="_NavbarGlass" />
}
<p>It is Home</p>