@model ActiveAccountViewModel
<h2 style="text-align=center">
    Hello
</h2>
<p>
    @Model.userName عزیز شما با موفقیت در سایت ثبت نام کرده اید
</p>
<p>شما میتوانید با استفاده از این 
    <a href="@Model.Url">لینک</a>
    خساب خود را فعال کنید
</p>