@inject IAdminServices admin;
@{
  var groups = await admin.GetAllGroup();
  var condition = true;
}
   <div class="header-wrapper">
        <!--====== Main Header ======-->
        <header class="header--style-3">
          <!--====== Nav 1 ======-->
          <nav class="primary-nav-wrapper">
            <div class="container">
              <!--====== Primary Nav ======-->
              <div class="primary-nav">
                <!--====== Main Logo ======-->

                <a class="main-logo" href="/">
                  <img src="/images/logo/logo-2.png" alt=""
                /></a>
                <!--====== End - Main Logo ======-->

                <!--====== Search Form ======-->
                <form class="main-form" method="GET" action="/product">
                  <label for="main-search"></label>

                  <input
                    class="
                      input-text
                      input-text--border-radius
                      input-text--only-white
                    "
                    type="text"
                    id="main-search"
                    name="title"
                    placeholder="جستجو کنید"
                  />

                  <button
                    class="btn btn--icon fas fa-search main-search-button"
                    type="submit"
                  ></button>
                </form>
                <!--====== End - Search Form ======-->

                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation">
                  <button
                    class="
                      btn btn--icon
                      toggle-button toggle-button--white
                      fas
                      fa-cogs
                      c-white
                    "
                    type="button"
                  ></button>

                  <!--====== Menu ======-->
                  <div class="ah-lg-mode">
                    <span class="ah-close">✕ بستن</span>

                    <!--====== List ======-->
                    <ul
                      class="ah-list ah-list--design1 ah-list--link-color-white"
                    >
                      <li
                        class="has-dropdown"
                        data-tooltip="tooltip"
                        data-placement="right"
                        title="حساب کاربری"
                      >
                        <a><i class="far fa-user-circle"></i></a>
                        <span class="js-menu-toggle"></span>
                        <ul style="width: 120px" class="t-r">
                            @if(User.Identity.IsAuthenticated) {
                                <li>
                                    <a href="/account"><i class="fas fa-user-circle u-s-m-r-6"></i>
                                    <span>حساب کاربری</span></a>
                                </li>
                                <li>
                                    <a href="/logout"><i class="fas fa-lock-open u-s-m-r-6"></i>
                                    <span>خروج</span></a>
                                </li>
                            }else {
                            <li>
                                <a href="/Register"><i class="fas fa-user-plus u-s-m-r-6"></i>
                                <span>ثبت نام</span></a>
                            </li>
                            <li>
                                <a href="/login"><i class="fas fa-lock u-s-m-r-6"></i>
                                <span>ورود</span></a>
                            </li>
                            }
                          
                        </ul>
                        <!--====== End - Dropdown ======-->
                      </li>
                    
                      <li
                        data-tooltip="tooltip"
                        data-placement="right"
                        title="تماس با ما"
                      >
                        <a href="tel:+0900901904"
                          ><i class="fas fa-phone-volume"></i
                        ></a>
                      </li>
                      <li
                        data-tooltip="tooltip"
                        data-placement="right"
                        title="ایمیل"
                      >
                        <a href="mailto:contact@domain.com"
                          ><i class="far fa-envelope"></i
                        ></a>
                      </li>
                    </ul>
                    <!--====== End - List ======-->
                  </div>
                  <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
              </div>
              <!--====== End - Primary Nav ======-->
            </div>
          </nav>
          <!--====== End - Nav 1 ======-->

          <!--====== Nav 2 ======-->
          <nav class="secondary-nav-wrapper">
            <div class="container">
              <!--====== Secondary Nav ======-->
              <div class="secondary-nav ">
                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation1">
                  <button
                    class="btn btn--icon toggle-mega-text toggle-button"
                    type="button"
                  >
                    M
                  </button>

                  <div class="ah-lg-mode">
                    <span class="ah-close">✕ بستن</span>

                    <ul class="ah-list">
                      <li class="has-dropdown">
                        <span class="mega-text">M</span>

                        <span class="js-menu-toggle"></span>
                        <div class="mega-menu">
                          <div class="mega-menu-wrap">
                          @foreach (var group in groups.Where(g=> g.ParentId == null))
                          {
                            @if(condition){
                              <div class='mega-menu-list'>
                                <ul>
                                  @foreach (var item in groups.Where(g=> g.ParentId == null))
                                  {
                                    <li>
                                      <a href="/product?groupId=@item.GroupId"><span>@item.GroupTitle</span></a>
                                      <span class="js-menu-toggle"></span>
                                    </li>
                                  }
                                </ul>
                              </div>
                              condition = false;
                            }
                            @if(groups.Any(g=> g.ParentId == group.GroupId)) {
                              <div class="mega-menu-content">
                                <ul>
                                  @foreach (var item in groups.Where(g=>g.ParentId == group.GroupId))
                                  {
                                    <li class="mega-list-title">
                                      <a href="/product?groupId=@item.GroupId">@item.GroupTitle</a>
                                    </li>
                                  }
                                </ul>
                            </div>
                            }else {
                              <div class="mega-menu-content"><h5>هیچ زیر مجموعه ای وجود ندارد</h5></div>
                            }
                          }
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="menu-init" id="navigation2">
                  <button
                    class="
                      btn btn--icon
                      toggle-button toggle-button--white
                      fas
                      fa-cog
                      c-white
                    "
                    type="button"
                  ></button>
                  <div class="ah-lg-mode">
                    <span class="ah-close">✕ بستن</span>
                    <ul class="ah-list ah-list--design2 ah-list--link-color-white">
                      <li>
                        <a href="/product">محصولات</a>
                      </li>
                      <li>
                        <a href="/post">بلاگ</a>
                      </li>
                      <li>
                        <a href="/aboutus">درباره ی ما</a>
                      </li>
                      <li>
                        <a href="/connectus">تماس با ما</a>
                      </li>
                    </ul>
                    <!--====== End - List ======-->
                  </div>
                  <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->

                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation3">
                  <button
                    class="
                      btn btn--icon
                      toggle-button toggle-button--white
                      fas
                      fa-shopping-bag
                      toggle-button-shop
                      c-white
                    "
                    type="button"
                  ></button>
                  <!--====== Menu ======-->
                  <div class="ah-lg-mode">
                    <span class="ah-close">✕ بستن</span>
                    <!--====== List ======-->
                    <ul class="ah-list ah-list--design1 ah-list--link-color-white">
                      <li>
                        <a href="/"><i class="fas fa-home"></i></a>
                      </li>
                      <li>
                        <a href="/account/wishlist"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="has-dropdown">
                        <a href="/account/cart" class="mini-cart-shop-link"><i class="fas fa-shopping-bag"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </header>
      </div>